@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

.calculator {
    margin-bottom: 40px;

    &__wrapper {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        gap: 40px;

        @include mobile {
            gap: 30px;
        }
    }

    &__title {
        font-size: 3.6rem;

        @include tablet {
            font-size: 3rem;
        }

        @include mobile {
            font-size: 2.4rem;
        }
    }

    &__controls {
        display: grid;
        display: -ms-grid;
        display: -webkit-grid;
        grid-template-columns: 1fr auto;
        gap: 20px 15px;
        width: 100%;
        padding: 15px;
        border: 1px solid $primary;
        border-radius: 10px;

        @include tablet {
            gap: 15px 10px;
            padding: 12px;
        }

        @include mobile {
            grid-template-columns: 1fr;
            gap: 10px;
            padding: 10px;
        }
    }

    &__customInput {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        gap: 8px;

        @include mobile {
            flex-direction: column;
            -webkit-flex-direction: column;
            align-items: flex-start;
            gap: 5px;
        }
    }

    &__label {
        font-size: 1.6rem;
        white-space: nowrap;
        pointer-events: none;

        @include mobile {
            font-size: 1.4rem;
        }
    }

    &__input {
        padding: 8px;
        width: 100%;
        max-width: 100px;
        border: 1px solid $primary-lighter;
        border-radius: 4px;
        font-size: 1.6rem;
        background: none;
        color: $main-text-color;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;

        &:hover,
        &:focus {
            outline: none;
            border-color: $primary-darker;
        }

        @include mobile {
            max-width: none;
            font-size: 1.4rem;
        }
    }

    &__result {
        grid-column: 2 / 3;

        @include mobile {
            grid-column: 1 / 2;
        }
    }

    &__resultText {
        font-size: 1.8rem;
        text-align: right;

        @include mobile {
            font-size: 1.6rem;
            text-align: left;
        }
    }

    &__resultNumber {
        font-weight: 500;
    }
}

:global {
    .react-select {
        &__control {
            border-radius: 4px;
            padding: 2px;
            width: 100%;
            border: 1px solid $primary-lighter !important;
            background-color: transparent !important;
            color: $main-text-color !important;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;

            &--is-focused {
                border-color: $primary-darker !important;
                box-shadow: none !important;
            }

            &:hover {
                border-color: $primary-darker !important;
            }
        }

        &__placeholder,
        &__indicator {
            color: $main-text-color !important;
        }

        &__indicator-separator {
            background-color: $main-text-color !important;
        }

        &__multi-value {
            background-color: $primary !important;
            max-width: 300px;

            @include mobile {
                max-width: 200px;
            }
        }

        &__multi-value__label {
            color: $main-text-color !important;
        }

        &__menu-list {
            background-color: $background-color-lighter-10;
        }

        &__option {
            &--is-focused {
                background-color: $primary !important;
            }
        }
    }
}