@use "variables";
@use "_mixins" as *;

*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: variables.$background-color-lighter-5;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: variables.$primary;
        border-radius: 4px;
        transition: background 0.3s ease;
        -webkit-transition: background 0.3s ease;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: variables.$primary-darker;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: variables.$ff-montserrat;
    color: variables.$main-text-color;
    background: variables.$background-color;
    font-size: 1.6rem;
}

main {
    flex-grow: 1;
}

img {
    display: block;
    height: auto;
    object-fit: cover;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: variables.$main-text-color;
}

h1,
h2,
h3,
ul,
li,
p,
button,
fieldset {
    margin: 0;
    padding: 0;
}

fieldset {
    border: none;
}

ul {
    list-style-type: none;
}

button,
input {
    font-family: variables.$ff-montserrat;
    -webkit-appearance: none;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 80px;

    @include tablet {
        gap: 60px;
    }

    @include mobile {
        gap: 40px;
    }
}